# Base
NODE_ENV="development"
SESSION_SECRET="AUTOMATICALLY_GENERATED_ON_TEMPLATE_INITIALIZATION"
ENCRYPTION_SECRET="AUTOMATICALLY_GENERATED_ON_TEMPLATE_INITIALIZATION"

# Host
DEV_HOST_URL="http://localhost:3000"
PROD_HOST_URL=""

# Environment variables declared in this file are automatically made available to Prisma.
# More info: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="file:./data.db?connection_limit=1"

# Emai & Auth Providers
RESEND_API_KEY=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Stripe
# On localhost: run `stripe listen --forward-to localhost:3000/api/webhook` to get the `STRIPE_WEBHOOK_ENDPOINT` secret.
# On production: @see https://dashboard.stripe.com/test/webhooks
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_ENDPOINT=""

# Honeypot.
# https://github.com/sergiodxa/remix-utils?tab=readme-ov-file#form-honeypot
HONEYPOT_ENCRYPTION_SEED="AUTOMATICALLY_GENERATED_ON_TEMPLATE_INITIALIZATION"
