# BASE
NODE_ENV=development
SESSION_SECRET=

# BASE URLs
DEV_HOST_URL="http://localhost:3000"
PROD_HOST_URL=""

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="file:./data.db?connection_limit=1"

# AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# STRIPE
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

# STRIPE PLANS
PLAN_1_PRICE_ID=
PLAN_2_PRICE_ID=
PLAN_3_PRICE_ID=

# STRIPE WEBHOOK
# Development: To get a Webhook Endpoint run this in console: stripe listen --forward-to localhost:3000/api/webhook
DEV_STRIPE_WEBHOOK_ENDPOINT_SECRET=""
PROD_STRIPE_WEBHOOK_ENDPOINT_SECRET=""