# We don't want lockfiles in stacks, as people could use a different package manager.
# This part will be removed by `remix.init`.
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/.cache
/build
/public/build
.env

# Testing
/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/coverage

.idea
.vscode
.prettierrc.js
.DS_Store

/app/styles/tailwind.css