# We don't need lockfiles in our stacks,
# as people could use a different package manager.
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

# Editor Configs.
.idea
.vscode
.DS_Store

/.cache
/build
/public/build
.env

# Tests.
/test-results/
/tests/auth-storage.json
/playwright-report/
/playwright/.cache/

# Prisma.
/prisma/data.db
/prisma/data.db-journal

# Docker PostgreSQL.
postgres-data

# Tailwind CSS.
/app/styles/tailwind.css