# This file will automatically be replaced for a `.env` 
# after initializing template into your workspace.

# Base.
NODE_ENV="development"
SESSION_SECRET="SESSION_SECRET"
ENCRYPTION_SECRET="ENCRYPTION_SECRET"

# Base URLs.
DEV_HOST_URL="http://localhost:3000"
PROD_HOST_URL=""

# Environment variables declared in this file are automatically made available to Prisma.
# More details: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# [Optional] Email Provider.
EMAIL_PROVIDER_API_KEY=

# [Optional] Auth Clients.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Stripe.
STRIPE_PUBLIC_API_KEY=
STRIPE_SECRET_API_KEY=

# Stripe Plans.
STRIPE_PLAN_1_PRICE_ID=
STRIPE_PLAN_2_PRICE_ID=
STRIPE_PLAN_3_PRICE_ID=

# Stripe Webhook.
DEV_STRIPE_WEBHOOK_ENDPOINT_SECRET=""
PROD_STRIPE_WEBHOOK_ENDPOINT_SECRET=""